# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# public assets (only compiled runtime)
public

# Production babel build (only compiled runtime)
dist

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Selenium/Nightwatch test output
.test_output

